KDM_PASSWORD_HASH=scrypt$16384$8$1$replace_salt$replace_digest
KDM_SESSION_SECRET=replace_with_a_long_random_value
KDM_SECURE_COOKIES=1
KDM_ADMIN_USERNAME=admin
KDM_REGISTRATION_ENABLED=1
KDM_MAX_ACTIVE_MINERS=3
KDM_DATA_DIR=/home/container/data
KDM_SYSTEM_CHROMIUM=1
CHROME_BINARY=/usr/bin/chromium
CHROMEDRIVER_PATH=/usr/bin/chromedriver
KDM_FORCE_HEADFUL=1
KDM_STREAM_BROWSER=chromium
FIREFOX_BINARY=/usr/bin/firefox-esr
GECKODRIVER_PATH=/usr/local/bin/geckodriver
KDM_FIREFOX_CHALLENGE_WAIT=30
